body{
    font-family: "Montserrat", sans-serif;
}

main .main-todo-content{
    background-color: #b9cdeb;
    border-radius: 1rem;
    padding: 2rem;
}

main .main-todo-content ul{
    padding: 0;
}

main .main-todo-content li {
	list-style-type: none;
	border-bottom: 1px solid white;
	padding: 1.5rem 0;
}

.main-todo-content li > span:hover{
    font-weight: 600;
}

.main-todo-content i:hover{
    font-size: 1.2rem;
    color: rgb(211, 30, 30);
}